#liveContainer {
   height: auto;
   margin: 40px;
   margin-right: 0px;
   padding: 40px 70px;
   padding-top: 45px;
   box-shadow: 0px 10px 40px rgba(20, 40, 60, 0.06);
   background-color: rgba(255, 255, 255, 1);
   max-width: 480px;
   z-index: 2;
}

@media (prefers-color-scheme: dark) {
   #liveContainer {
      box-shadow: none;
      background-color: rgba(255, 255, 255, 0.04);
      /*border: 2px solid rgba(255, 255, 255, 0.08);*/
   }
}

#settingsButton {
   width: 60px;
   height: 60px;
   display: block;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 15px;
   box-sizing: border-box;
   border-radius: 400px;
   transition: 0.2s;
}
#settingsButton::after {
   content: "";
   width: 100%;
   height: 100%;
   display: block;
   background-image: url("/assets/images/wifi.png");
   background-size: contain;
   filter: invert(var(--invertValue));
}
@media (pointer: fine) {
   #settingsButton:hover {
      background-color: rgba(47, 150, 255, 0.1);
      cursor: pointer;
   }
}

#dateTimeContainer {
   margin-top: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#time {
   font-size: 55px;
   font-family: boldest;
}

#date {
   margin-top: -6px;
   opacity: 0.26;
   font-family: bold;
}

#liveBadgeBox {
   padding: 7px 12px;
   border-radius: 11px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid rgb(255, 34, 133, 0.15);
   margin-top: 20px;
   margin-bottom: 40px;
}

#liveBadgeBox > div {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: rgb(255, 34, 133);
   margin-right: 7px;
   animation: blinking 1s infinite;
}

@keyframes blinking {
   0%,
   100% {
      opacity: 1;
   }
   50% {
      opacity: 0.2;
   }
}

#liveBadgeBox > t {
   color: rgb(255, 34, 133);
   font-family: boldest;
   font-size: 80%;
   letter-spacing: 1px;
}
