#settingsButton {
   width: 60px;
   height: 60px;
   display: block;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 15px;
   box-sizing: border-box;
   border-radius: 1000px;
   transition: 0.2s;
}
#settingsButton::after {
   content: "";
   width: 100%;
   height: 100%;
   display: block;
   background-image: url("/assets/images/settings.png");
   background-size: contain;
}
@media (pointer: fine) {
   #settingsButton:hover {
      background-color: rgba(47, 150, 255, 0.1);
   }
}

#dateTimeContainer {
   margin-top: 0px;
   margin-bottom: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#time {
   font-size: 55px;
   font-family: boldest;
}

#date {
   margin-top: -6px;
   opacity: 0.26;
   font-family: bold;
}
