.pieChartContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
}

.pieChart {
   width: 160px;
   height: 160px;
   border-radius: 50%;
   background-color: red;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 25px 0px;

   /* Transparent Hole in the center */
   mask: radial-gradient(farthest-side, transparent 60%, black 61%);
   -webkit-mask: radial-gradient(farthest-side, transparent 60%, black 61%);
}

.pieChartContainer .centerIcon {
   width: 25px;
   height: 25px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 92.5px;
}
.pieChartContainer .centerIcon::before {
   content: "";
   position: absolute;
   border: 8px solid var(--waveColor);
   border-radius: 50%;
   transform: scale(0.5);
   animation: var(--animationName) 1.3s infinite ease-out;
   pointer-events: none;
   filter: blur(5px);
   z-index: 0;
}
@keyframes waveIn {
   0% {
      width: 150px;
      height: 150px;
      opacity: 0;
   }
   15% {
      opacity: 1;
   }
   100% {
      width: 30px;
      height: 30px;
      opacity: 0;
   }
}
@keyframes waveOut {
   0% {
      width: 30px;
      height: 30px;
      opacity: 0;
   }
   15% {
      opacity: 1;
   }
   100% {
      width: 150px;
      height: 150px;
      opacity: 0;
   }
}

.pieChartLegendContainer {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.pieChartLegendElementContainer {
   display: flex;
   align-items: center;
   justify-content: center;
}
.pieChartLegendCircle {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   margin-right: 10px;
}
