.stateBarContainer {
   width: 100%;
   max-width: 550px;
   margin: 25px 0px;
   transition: 0.3s;
   display: flex;
   flex-direction: column;
   position: relative;
}

.stateBarIconTextContainer {
   display: flex;
   align-items: center;
}

.stateBarTextContainer {
   width: 100%;
   display: flex;
   align-items: center;
}

.stateBarIcon {
   width: 25px;
   height: 25px;
   margin-right: 15px;
   object-fit: contain;
}

.stateBarValue {
   font-family: boldest;
   font-size: 130%;
}

.stateBarUnit {
   opacity: 0.26;
   margin-left: 7px;
   font-family: bold;
   margin-bottom: -5px;
   font-size: 90%;
}

.stateBarInfoText {
   float: right;
   margin-right: 15px;
   opacity: 0.26;
   margin-bottom: -5px;
   text-align: right;
   font-size: 90%;
}

.stateBarOuter {
   width: 100%;
   height: 8px;
   border-radius: 30px;
   margin-top: 15px;
   box-sizing: border-box;
   z-index: 2;
   opacity: 0.15;
}

.stateBarInner {
   width: 0%;
   height: 20px;
   min-width: 0px;
   margin-top: -14px;
   border-radius: 30px;
   transition: 0.3s;
   z-index: 3;
}
.stateBarContainer .marker {
   width: 4px;
   height: 12px;
   margin-left: -2px;
   border-radius: 10px;
   bottom: 4px;
   background-color: var(--textColor);
   position: absolute;
   z-index: 4;
}
